@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* ----- Colors ----- */
    --body-color: #000000;
    --navbar-color: #e6e20d;
    --primary-color: #b4b4b4;
    --primary-color-light: #242120;
    --toggle-color: #5b3232;
    --text-color: #920000;
    --hells-kitchen: #eb410e;
    --blaze: #d99724;
    --smoke: #555353; 
    --text-color-secondary: rgb(0, 0, 0);
    /* ----- Transition ----- */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #eb410e;
    background-image: linear-gradient(to right top, #ece811, #d99724, #a15631, #542928, #000000);
}

body::-webkit-scrollbar-track {
    background: #000;
    transition: ease 900s;
}

body::-webkit-scrollbar-thumb {
    background: var(--blaze);
    border-radius: 3px;
    transition: ease 900s;
}

body::-webkit-scrollbar {
    width: 0.35rem;
}

.container {
    max-width: 700px;
    width: 100%;
    background-color: #000;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 285px;
    border-radius: 5px;
    background-image: linear-gradient(to right top, #ece811, #d99724, #a15631, #542928, #000000);
}

.content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    background-color: var(--smoke);
    padding-left: 15px;
    border: 1px solid --blaze;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box ::placeholder {
    color: var(--primary-color);
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: var(--blaze);
    color: var(--blaze);
}

form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
}

form .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

form .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

form .category label .dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: var(--smoke);
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two,
#dot-3:checked~.category label .three {
    background: var(--blaze);
    border-color: var(--smoke);
}

form input[type="radio"] {
    display: none;
}

form .button {
    height: 45px;
    margin: 35px 0
}

form .button input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-image: linear-gradient(to right top, #ece811, #d99724, #a15631, #542928, #000000);
}

form .button input:hover {
    transform: scale(0.99);
    transition: var(--tran-05);
    color: var(--hells-kitchen);
    background-image: linear-gradient(to left bottom, #fff, #d99724);
}

@media(max-width: 584px) {
    .container {
        max-width: 100%;
    }
    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }
    form .category {
        width: 100%;
    }
    .content form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar {
        width: 5px;
    }
}

@media(max-width: 459px) {
    .container .content .category {
        flex-direction: column;
    }
}

a {
    text-decoration: none;
    color: #fff;
}

/* ====== Navbar ====== */

ul {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
    padding: 0;
}
li {
    display: block;
    flex: 0 1 auto;
    list-style-type: none;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 7%;
    width: 100%;
    padding: 10px 14px;
    transition: var(--tran-05);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

/* ====== P-L ====== */

.dropdown-pl {
    position: relative;
}

.navbar .dropdown-pl:hover {
    border: 1px solid var(--hells-kitchen);
    border-radius: 35px;
    padding: 0px 6px;
    transition: var(--tran-05);
}

.dropdown-menu-pl a:hover{
    border-radius: 20px;
    color: var(--blaze);
    box-shadow: inset 0px 0px 8px;
}

.dropdown-menu-pl {
    position: absolute;
    display: none;
    background-color: rgb(85, 83, 83, 0.6);
    border-radius: 15px;
}

.dropdown-menu-pl a {
    display: block;
}

/* ====== P-S ====== */

.dropdown-ps {
    position: relative;
}

.navbar .dropdown-ps:hover {
    border: 1px solid var(--hells-kitchen);
    border-radius: 35px;
    padding: 0px 6px;
    transition: var(--tran-05);
}

.dropdown-menu-ps a:hover{
    border-radius: 20px;
    color: var(--blaze);
    box-shadow: inset 0px 0px 8px;
}

.dropdown-menu-ps {
    position: absolute;
    display: none;
    background-color: rgb(85, 83, 83, 0.6);
    border-radius: 15px;
}

.dropdown-menu-ps a {
    display: block;
}

/* ====== C ====== */

.dropdown-c {
    position: relative;
}

.navbar .dropdown-c:hover {
    border: 1px solid var(--hells-kitchen);
    border-radius: 35px;
    padding: 0px 6px;
    transition: var(--tran-05);
}

.dropdown-menu-c a:hover{
    border-radius: 20px;
    color: var(--blaze);
    box-shadow: inset 0px 0px 8px;
}

.dropdown-menu-c {
    position: absolute;
    display: none;
    background-color: rgb(85, 83, 83, 0.6);
    border-radius: 15px;
}

.dropdown-menu-c a {
    display: block;
}